{% extends "base.html" %}
{% block title %}Upload Resecent Satsang Audio {% endblock %}
{% block content %}
    <div class="col-md-4" id="processing">
        <img src="{{ url_for('static', filename='img/processing.gif') }}" alt="Uploading..."/>
    </div>

    <div class="col-md-4" id="processing1">
        <h3 class="text-primary"> Uploading... </h3>
    </div>

    <div id="upload">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Upload Recent Satsang Audio</h3>
        </div>
        <div class="panel-body">
            <form id="upload-form" name="myForm" action="{{ url_for('upload',audio='recent_satsang') }}" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <div id="hidden">
                        <label class="control-label" for="inputDefault">Playlists</label>
                        <select id="playlist" name="playlist" class="form-control" required>
                            <option value={{rc_id}} selected="selected">{{rc_title}}</option>
                        </select>

                        <label class="control-label" for="inputDefault">Tags</label>
                        <input name="tag" type="text" class="form-control" id="inputDefault" value="&quot;Recent Satsang&quot;" required>
                    </div>

                    <label class="control-label" for="inputDefault">Files</label>
                    <input id="file-picker" class="btn btn-default"  type="file" name="file" accept="audio/*" multiple>
                </div>
                
                <h4>OR</h4>

                <div id="dropbox" class="jumbotron">
                    <p class="text-danger" align="center">Drag and Drop Files Here</p>
                </div>

                <input id="upload-button" class="btn btn-primary start" type="submit" name="submit" value="Upload">
                <input id="export-button" class="btn btn-primary start" type="submit" name="submit" value="Export">
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        document.getElementById("hidden").style.display = "none";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>
{% endblock %}
