body {
    background-color: #000000;
    /* font-family: Verdana,Arial,Helvetica,sans-serif; */
    /* font-size: small; */
    color: #000000;
}

#processing1 {
    visibility:hidden;
    position:absolute;
    width:100px;
    margin: -10px -80px;
    top: 50%;
    left: 50%;
}

#processing {
    visibility:hidden;
    position: absolute;
    height:64px;
    width:64px;
    margin: -60px -50px;
    top: 50%;
    left:50%;
}

#dropbox {
    border: 2px dashed #0000FF;
    border-radius: 5px; 
    background: white;
}

#dropbox.active {
    border: 2px solid #0000FF;
}

