{% extends "base.html" %}
{% block title %}Upload Kids Stories  Audio {% endblock %}
{% block content %}
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Upload Kids Stories  Audio</h3>
    </div>
    <div class="panel-body">
        <form id="uploadForm" name="uploadForm" enctype="multipart/form-data">
            <div class="form-group">
                <div id="hidden">
                    <label class="control-label" for="inputDefault">Playlists</label>
                    <select id="playlist" name="playlist" class="form-control" required>
                        <option value="">Choose a playlist</option>
                        <option selected="selected" value="None">None</option>
                    </select>

                    <label class="control-label" for="inputDefault">Tags</label>
                    <input id="tags" name="tags" type="text" class="form-control" id="inputDefault" value="&quot;Recent Satsang&quot;" required><br>
                </div>

                <label>
                    Files
                    <input id="file-picker" class="btn btn-default"  type="file" name="file" accept="audio/*" multiple >
                </label>
            </div>

            <h4>OR</h4>
            <div id="dropbox" class="jumbotron">
                <p class="text-danger" align="center">Drag and Drop Files Here</p>
            </div>
            <div id="progress" class="progress progress-striped active">
                <div id="progress-bar" class="progress-bar" style="width: 0%"></div>
            </div>
            <input id="upload-button" class="btn btn-primary start" type="submit" name="submit" value="Upload">
            <input id="export-button" class="btn btn-primary start" type="submit" name="submit" value="Export">
            <button id="connect" class="btn btn-danger" onclick="connectToSoundCloud()">Connect to Soundcloud</button>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        document.getElementById("hidden").style.display = "none";
        localStorage.setItem('oauth_token', '{{ oauth_token }}');
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/selectize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/soundcloud.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>
{% endblock %}
